{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-fluid" src="{% static 'images/undraw/undraw_alert.svg' %}" alt="Uh-Oh">
        </div>
        <div class="col-md">
            <h3>Shucks. That's an error.</h3>
            <p class="lead">
                Please try again, and if you continue to get this message, contact support.
            </p>
        </div>
    </div>
</section>
{% endblock%}
